@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/*Menu lateral*/
header {
	position: fixed;
	top: 40%;
	left: 0px;
	text-align: center;
}

.ul-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

.link-menu {
	text-decoration: none;
	background: #000000;
	display: block;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	padding: 5px;
	color: #ffffff;
	z-index: 1;	

}

.link-menu:hover {
	background: #ffffff;
	color: #000000;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.li-about {
	position: absolute;
	border: solid #000000 1px;
	width: 0;
	height: 150px;
	bottom: 34px;
	left: 150px;
	background: #ffffff;
	opacity: 0;
	transition: 0.2s ease-in;
}

li .li-about {
	z-index: 10;
	position: absolute;
}

.li-icons {
	display: inline-block;
	padding-top: 5px;
	visibility: visible;
	width: 25px;
}

.li-icons img {
	width: 100%;
}

.ul-about {
	visibility: hidden;
}

.li-sobre:hover > .ul-about {
	opacity: 1;
	visibility: visible;


}

.li-sobre:hover > a {
	background: #ffffff;
	color: #000000;
}

.li-sobre:hover .li-about {
	width: 150px;
	opacity: 1;
	
}
/*Fim Menu Lateral */

body {
	background: #000000;
}

.principal {
	margin: auto;
	width: 1500px;
	height: 754px;
	position: relative;
	top: 125px;
	z-index: -1;
}

figure {
	width: 1500px;
	height: 754px;
	margin: auto;
	position: relative;
}

figure img {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 370px;
	display: inline-block;
	padding: 0;
	margin: auto;
	position: relative;
	border-radius: 5px;
}

.imgs-album:hover {
	border-radius: 0px;
}
