@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/*Menu*/

header {
	position: fixed;
	top: 40%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
	left: 0px;
	z-index: 5;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}

.li-menu {
	position: relative;

}

.ul-about {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
	border: 1px solid #ccc;
	color: #ffffff;
	background: black;
	z-index: 5;	
}

ul .ul-about {
	position: absolute; 
}

.li-link {
	display: block;
	text-decoration: none;
	color: #ffffff;
	background: #000000;
	padding: 5px;
	margin: 2px 1px 0px 0px;
}

li:hover .ul-about {
	display: block;
	background: #ffffff;
	color: #000000;
	position: absolute;
	z-index: 5;
}

.social-icons {
	position: absolute;
	display: none;
	width: 147px;
}

.social-icons li {
	display: inline-block;
}

li:hover .social-icons {
	display: block;
}

.li-link:hover {
	color: #000000;
	background: #ffffff;
}


body {
	background: #000000;
}

.principal {
	margin: auto;
	width: 1500px;
	height: 754px;
	position: relative;
	top: 125px;
}

figure {
	width: 1500px;
	height: 754px;
	margin: auto;
	position: relative;
	z-index: 4;
}

figure img {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 370px;
	display: inline-block;
	padding: 0;
	margin: auto;
	position: relative;
	border-radius: 5px;
}

.imagem-empe {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 180px;
	display: inline-block;
	padding: 0;
	margin: auto;
	position: relative;
	border-radius: 5px;
}



