/*
Antigo

body {
	  background: fixed;
	  background-image: url("../imagens/imagembg1.JPG");
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  background-position: center;
	  margin: 0;

}

h1 {
	color: white;
	font-family: 'Amatic Sc', sans-serif;
	font-size: 90px;
	text-shadow: 2px 2px 8px #000000;
	text-align: center;
	margin: 0;
	height: 100px;

}

h2 {
	font-family: 'Orbitron', sans-serif;
	color: gray;
	text-align: center;
	margin: 0 0 0 220px;
	text-shadow: #000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
	
}

.titulo {
	background: rgba(0,0,0,0.5);
	position: relative;
	top: 840px;
}

a {
	text-decoration: none;
	outline: none;
}

.titulo:hover {
	background: rgba(0,0,0,0.7);
}
*/