@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/* Fonts */

@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.eot');
  src: url('../fonts/CaviarDreams.woff2') format('woff2'),
       url('../fonts/CaviarDreams.woff') format('woff'),
       url('../fonts/CaviarDreams.ttf') format('truetype'),
       url('../fonts/CaviarDreams.svg#CaviarDreams') format('svg'),
       url('../fonts/CaviarDreams.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Blacksword';
    src: url('../fonts/Blacksword.eot');
    src: url('../fonts/Blacksword.woff2') format('woff2'),
       url('../fonts/Blacksword.woff') format('woff'),
       url('../fonts/Blacksword.ttf') format('truetype'),
       url('../fonts/Blacksword.svg#Blacksword') format('svg'),
       url('../fonts/Blacksword.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* Titulo */

h1 {
	font-family: 'CaviarDreams';
	font-size: 60px;
	color: #fff;
	margin: 0;
	padding: -5px;
}

h2 {
	font-family: 'Blacksword';
	font-size: 15px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: right;
}

.titulo {
	width: 425px;
	left: 50%;
	position: absolute;
	margin-left: -212.5px;
}

.titulo ul {
	margin: 0;
	list-style: none;
	padding: 0;
	position: relative;
}

.li-icons {
	display: block;
	padding-top: 5px;
	visibility: visible;
	width: 25px;
}

.li-icons img {
	width: 100%;
}

/* Corpo */

body {
	background: #000000;
	margin: 0;
	width: 100%;
	height: 100%;
}

.center {
	width: 100%;
	height: 100%;
}

/*Menu lateral*/
nav {
	position: fixed;
	top: 30%;
	left: 0px;
	text-align: center;
}

.ul-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

.link-menu {
	text-decoration: none;
	background: #000000;
	display: block;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	padding: 5px;
	color: #ffffff;
	z-index: 1;	

}

.link-menu:hover {
	background: #ffffff;
	color: #000000;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.li-about {
	position: absolute;
	border: solid #000000 1px;
	width: 0;
	height: 150px;
	bottom: 51.5px;
	left: 150px;
	background: #ffffff;
	opacity: 0;
	transition: 0.2s ease-in;

}

.ul-about {
	visibility: hidden;
}

.li-sobre:hover > .ul-about {
	opacity: 1;
	visibility: visible;

}

.li-sobre:hover > a {
	background: #ffffff;
	color: #000000;
}

.li-sobre:hover .li-about {
	width: 150px;
	opacity: 1;
}

/* Footer */

.rodape {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 171px;
	height: 40px;

}

.rodape p {
	color: #fff;
	margin: 0;
}

.rodape a {
	text-decoration: none;
	color: rgb(215, 215, 215);
}