/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.eot');
  src: url('../fonts/CaviarDreams.woff2') format('woff2'),
       url('../fonts/CaviarDreams.woff') format('woff'),
       url('../fonts/CaviarDreams.ttf') format('truetype'),
       url('../fonts/CaviarDreams.svg#CaviarDreams') format('svg'),
       url('../fonts/CaviarDreams.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Blacksword';
    src: url('../fonts/Blacksword.eot');
    src: url('../fonts/Blacksword.woff2') format('woff2'),
       url('../fonts/Blacksword.woff') format('woff'),
       url('../fonts/Blacksword.ttf') format('truetype'),
       url('../fonts/Blacksword.svg#Blacksword') format('svg'),
       url('../fonts/Blacksword.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 320px) {
	body {
		background: #000;
	}

	h1 {
		font-family: 'CaviarDreams';
		font-size: 43px;
		color: #fff;
		margin: 0;
		padding: -5px;
	}

	h2 {
		font-family: 'Blacksword';
		font-size: 15px;
		color: #fff;
		text-align: right;
		margin: 0;
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {

/* Titulo */

h1 {
	font-family: 'CaviarDreams';
	font-size: 60px;
	color: #fff;
	margin: 0;
	padding: -5px;
}

h2 {
	font-family: 'Blacksword';
	font-size: 15px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: right;
}

.titulo {
	width: 425px;
	left: 50%;
	position: absolute;
	margin-left: -212.5px;
	text-align: center;
}

.titulo ul {
	margin: 0;
	list-style: none;
	padding: 0;
	position: relative;
}

.li-icons {
	display: block;
	padding-top: 5px;
	visibility: visible;
	width: 25px;
}

.li-icons img {
	width: 100%;
}

.li-icons img:hover {
	transform: scale(1.15,1.15);
	transition: ease-in 0.2s;
}

.li-icons li {
	padding: 0;
	margin: 0;
}

.social {
	position: absolute;
	top: 5%;
	line-height: 0px;
	left: 101%;
	padding: 2px;
}

/* Corpo */

body {
	background: #000000;
	margin: 0;
	width: 100%;
	height: 100%;
}

.center {
	width: 100%;
	height: 100%;
}

/*Menu lateral*/
nav {
	position: fixed;
	top: 30%;
	left: 0px;
	text-align: center;
}

.ul-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

.link-menu {
	text-decoration: none;
	background: #000000;
	display: block;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	padding: 5px;
	color: #ffffff;
	z-index: 1;	
}

.link-menu:hover {
	background: #ffffff;
	color: #000000;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.li-about {
	position: absolute;
	border: solid #000000 1px;
	width: 0;
	height: 150px;
	bottom: 51.5px;
	left: 150px;
	background: #ffffff;
	opacity: 0;
	transition: 0.2s ease-in;
}

.ul-about {
	visibility: hidden;
}

.li-sobre:hover > .ul-about {
	opacity: 1;
	visibility: visible;

}

.li-sobre:hover > a {
	background: #ffffff;
	color: #000000;
}

.li-sobre:hover .li-about {
	width: 150px;
	opacity: 1;
}

/* Slider */

figure img {
	width: 100%;
	height: 100%;
}

a , img { border: none; }

.trs {
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

#slider {
	position: relative;
	z-index: 1;
}

#slider a {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

.ativo {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Controladores */

span {
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	bottom: 40%;
	width: 43px;
	height: 43px;
	z-index: 5;
}

.next {
	right: 10px;
}

.next:before , .next:after {
	left: 21px;
}

.next:before {
	-webkit-transform: rotate(-42deg);
	top: 5px;
}

.next:after {
	-webkit-transform: rotate(-132deg);
	top: 19px;
}

.next:before , .next:after , .prev:before , .prev:after {
	content: "";
	height: 20px;
	background: #fff;
	width: 1px;
	position: absolute;
}

.prev {
	left: 10px;
}

.prev:before , .prev:after {
	left: 18px;
}

.prev:before {
	-webkit-transform: rotate(42deg);
	top: 5px;
}

.prev:after {
	-webkit-transform: rotate(132deg);
	top: 19px;
}

figure:hover span {
	opacity: 0.76;
	filter: alpha(opacity=76);
}

figure {
	width: 600px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	margin: 50px auto;
	left: 200px;
}

figcaption {
	padding-left: 20px;
	color: #fff;
	font-family: "Kaushan Script", "Lato", "arial";
	font-size: 22px;
	background: rgba(0,0,0,0.40);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 55px;
	height: 55px;
	z-index: 5;
}

/* Footer */

.rodape {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 7%;

}

.rodape p {
	color: #fff;
	margin: 0;
}

.rodape a {
	text-decoration: none;
	color: rgb(215, 215, 215);
}

}